<div id="home-top">

  <div id="home-top-center">
    <div id="home-motto">
      <h1><%= t(:home_motto) %></h1>
      <%= t(:home_tagline) %>
    </div>

    <br><br>

    <div>
      <%= link_to t(:get_started), new_user_registration_path, :class => 'btn btn-success btn-lg' %>
      <br><br>
    </div>
  </div>

</div>

<br><br>

<div class="container">

</div>
