<footer>
  <div class="container">
    <p class="text-muted">
      <span class="pull-right">
        &copy;<%= Time.now.year %> Powered by <a href="http://www.thingspeak.com" title="Open Source Internet of Things" target="_blank">ThingSpeak</a>
      </span>
    </p>
  </div>
</footer>
